* {
  box-sizing: border-box;
}

:root {
  --bg-container: #e5e5e5;
  --bg: #7359dc;
  --error: rgb(255, 85, 85);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Titles */
h1 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2em;
}

form {
  background-color: var(--bg-container);
  border-radius: 10px;
  padding: 20px;
  width: 420px;
}

.form-group {
  margin-bottom: 30px;
  display: block;
}

input,
textarea,
button {
  width: calc(100% - 20px);
  font-family: inherit;
  height: 40px;
  border: 1px solid #545454;
  font-size: 14px;
  color: #545454;
  padding: 0.3em;
  border-radius: 3px;
  outline-color: var(--bg);
}

input:focus,
textarea:focus {
  border: 2px solid var(--bg);
}

textarea {
  height: 160px;
  padding-top: 10px;
}

button,
input[type="submit"] {
  background: var(--bg);
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s linear;
}

button:hover,
input[type="submit"]:hover {
  background-color: #5845a5;
}

.error input,
.error textarea {
  border-color: var(--error);
}
